* {
  margin: 0;
  padding: 0;
}

.instagram-logo {
  width: 145px;
  height: 145px;
  top: 0;
  background-size: contain;
  background-image: url('../../assets/images/express.png');
}

.facebook-logo {
  background-position: -414px -259px;
  background-image: url(https://bit.ly/3v2LT17);
  height: 16px;
  width: 16px;
}